In [477]:
import pandas as pd
file_path = r'E:\ML PROJECTS\THYROID DISEASE PREDICTION\notebooks\data\hypothyroid.data'

df = pd.read_csv(file_path)

df.head()

,hypothyroid,72,M,f,f.1,f.2,f.3,f.4,f.5,f.6,...,y.1,0.60,y.2,15,y.3,1.48,y.4,10,n,?
0,hypothyroid,15,F,t,f,f,f,f,f,f,...,y,1.70,y,19,y,1.13,y,17,n,?
1,hypothyroid,24,M,f,f,f,f,f,f,f,...,y,0.20,y,4,y,1,y,0,n,?
2,hypothyroid,24,F,f,f,f,f,f,f,f,...,y,0.40,y,6,y,1.04,y,6,n,?
3,hypothyroid,77,M,f,f,f,f,f,f,f,...,y,1.20,y,57,y,1.28,y,44,n,?
4,hypothyroid,85,F,f,f,f,f,t,f,f,...,y,1.10,y,27,y,1.19,y,23,n,?

In [478]:
df.columns

Index(['hypothyroid', '72', 'M', 'f', 'f.1', 'f.2', 'f.3', 'f.4', 'f.5', 'f.6',
       'f.7', 'f.8', 'f.9', 'f.10', 'y', '30', 'y.1', '0.60', 'y.2', '15',
       'y.3', '1.48', 'y.4', '10', 'n', '?'],
      dtype='object')

In [479]:
# Define the columns to be removed
columns_to_remove = ['1.48', 'y.4', '10', 'n', '?']

# Drop the specified columns from the DataFrame
df = df.drop(columns_to_remove, axis=1)

# Check the resulting DataFrame
print(df.head(5))

   hypothyroid  72  M  f f.1 f.2 f.3 f.4 f.5 f.6  ... f.8 f.9 f.10  y    30  \
0  hypothyroid  15  F  t   f   f   f   f   f   f  ...   f   f    f  y   145
1  hypothyroid  24  M  f   f   f   f   f   f   f  ...   f   f    f  y     0
2  hypothyroid  24  F  f   f   f   f   f   f   f  ...   f   f    f  y   430
3  hypothyroid  77  M  f   f   f   f   f   f   f  ...   f   f    f  y  7.30
4  hypothyroid  85  F  f   f   f   f   t   f   f  ...   f   f    f  y   138

  y.1  0.60 y.2  15 y.3
0   y  1.70   y  19   y
1   y  0.20   y   4   y
2   y  0.40   y   6   y
3   y  1.20   y  57   y
4   y  1.10   y  27   y

[5 rows x 21 columns]

In [480]:
df.columns

Index(['hypothyroid', '72', 'M', 'f', 'f.1', 'f.2', 'f.3', 'f.4', 'f.5', 'f.6',
       'f.7', 'f.8', 'f.9', 'f.10', 'y', '30', 'y.1', '0.60', 'y.2', '15',
       'y.3'],
      dtype='object')

In [481]:
column_names = ['Hypothyroid', 'Age', 'Gender', 'Free T4', 'TSH', 'T3', 'TT4', 'FTI', 'TBG', 'Pregnant', 'Referral Source', 'Class', 'Education', 'Diagnosis Age', 'Referral Source 2', 'TSH Measured', 'T3 Measured', 'TT4 Measured', 'FTI Measured', 'TBG Measured', 'Goitre']

In [482]:

old_column_names = ['hypothyroid', '72', 'M', 'f', 'f.1', 'f.2', 'f.3', 'f.4', 'f.5', 'f.6', 'f.7', 'f.8', 'f.9', 'f.10', 'y', '30', 'y.1', '0.60', 'y.2', '15', 'y.3']
new_column_names = ['Hypothyroid', 'Age', 'Gender', 'Free T4', 'TSH', 'T3', 'TT4', 'FTI', 'TBG', 'Pregnant', 'Referral Source', 'Class', 'Education', 'Diagnosis Age', 'Referral Source 2', 'TSH Measured', 'T3 Measured', 'TT4 Measured', 'FTI Measured', 'TBG Measured', 'Goitre']
column_mapping = dict(zip(old_column_names, new_column_names))
df = df.rename(columns=column_mapping)

In [483]:
df.head(5)

,Hypothyroid,Age,Gender,Free T4,TSH,T3,TT4,FTI,TBG,Pregnant,...,Class,Education,Diagnosis Age,Referral Source 2,TSH Measured,T3 Measured,TT4 Measured,FTI Measured,TBG Measured,Goitre
0,hypothyroid,15,F,t,f,f,f,f,f,f,...,f,f,f,y,145,y,1.70,y,19,y
1,hypothyroid,24,M,f,f,f,f,f,f,f,...,f,f,f,y,0,y,0.20,y,4,y
2,hypothyroid,24,F,f,f,f,f,f,f,f,...,f,f,f,y,430,y,0.40,y,6,y
3,hypothyroid,77,M,f,f,f,f,f,f,f,...,f,f,f,y,7.30,y,1.20,y,57,y
4,hypothyroid,85,F,f,f,f,f,t,f,f,...,f,f,f,y,138,y,1.10,y,27,y

In [484]:
df["Hypothyroid"].unique()

array(['hypothyroid', 'negative'], dtype=object)

In [485]:
Hypothyroid_map={'negative':0, 'hypothyroid':1}
df["Hypothyroid"]=df['Hypothyroid'].map(Hypothyroid_map)

In [486]:
df["Age"].unique()

array(['15', '24', '77', '85', '64', '72', '20', '42', '69', '75', '53',
       '59', '68', '50', '78', '65', '28', '43', '40', '84', '?', '83',
       '63', '73', '36', '27', '48', '71', '60', '34', '79', '62', '74',
       '32', '41', '70', '29', '5', '58', '35', '51', '22', '16', '44',
       '39', '47', '18', '17', '88', '56', '30', '45', '66', '52', '54',
       '80', '33', '38', '92', '67', '46', '13', '89', '61', '49', '26',
       '57', '31', '90', '81', '25', '37', '76', '87', '23', '55', '86',
       '98', '21', '97', '1', '6', '14', '82', '11', '19', '9', '12',
       '10', '8', '7', '4', '93'], dtype=object)

In [487]:
df["Gender"].unique()

array(['F', 'M', '?'], dtype=object)

In [488]:
gender_map={'F':0, 'M':1,'?':2}
df["Gender"]=df['Gender'].map(gender_map)

In [489]:
df["Free T4"].unique()

array(['t', 'f'], dtype=object)

In [490]:
free_t4={"t":1,"f":0}
df["Free T4"]=df["Free T4"].map(free_t4)

In [491]:
df.columns

Index(['Hypothyroid', 'Age', 'Gender', 'Free T4', 'TSH', 'T3', 'TT4', 'FTI',
       'TBG', 'Pregnant', 'Referral Source', 'Class', 'Education',
       'Diagnosis Age', 'Referral Source 2', 'TSH Measured', 'T3 Measured',
       'TT4 Measured', 'FTI Measured', 'TBG Measured', 'Goitre'],
      dtype='object')

In [492]:
df["TSH"].unique()

array(['f', 't'], dtype=object)

In [493]:
Tsh={"t":1,"f":0}
df["TSH"]=df["TSH"].map(Tsh)

In [494]:
df["T3"].unique()

array(['f', 't'], dtype=object)

In [495]:
t3={"t":1,"f":0}
df["T3"]=df["T3"].map(t3)

In [496]:
df["TT4"].unique()

array(['f', 't'], dtype=object)

In [497]:
t3={"t":1,"f":0}
df["TT4"]=df["TT4"].map(t3)

In [498]:
df["FTI"].unique()

array(['f', 't'], dtype=object)

In [499]:
t3={"t":1,"f":0}
df["FTI"]=df["FTI"].map(t3)

In [500]:
df["TBG"].unique()

array(['f', 't'], dtype=object)

In [501]:
t3={"t":1,"f":0}
df["TBG"]=df["TBG"].map(t3)

In [502]:
df["Pregnant"].unique()

array(['f', 't'], dtype=object)

In [503]:
t3={"t":1,"f":0}
df["Pregnant"]=df["Pregnant"].map(t3)

In [504]:
df["Referral Source"].unique()

array(['f', 't'], dtype=object)

In [505]:
t3={"t":1,"f":0}
df["Referral Source"]=df["Referral Source"].map(t3)

In [506]:
df["Class"].unique()

array(['f', 't'], dtype=object)

In [507]:
t3={"t":1,"f":0}
df["Class"]=df["Class"].map(t3)

In [508]:
df["Education"].unique()

array(['f', 't'], dtype=object)

In [509]:
t3={"t":1,"f":0}
df["Education"]=df["Education"].map(t3)

In [510]:
df["Diagnosis Age"].unique()

array(['f', 't'], dtype=object)

In [511]:
t3={"t":1,"f":0}
df["Diagnosis Age"]=df["Diagnosis Age"].map(t3)

In [512]:
df["Referral Source 2"].unique()

array(['y', 'n'], dtype=object)

In [513]:
rs={"y":1,"n":0}
df["Referral Source 2"]=df["Referral Source 2"].map(rs)

In [514]:
df["TSH Measured"].unique()

array(['145', '0', '430', '7.30', '138', '7.70', '21', '92', '48', '36',
       '15', '15.30', '25', '61', '28', '170', '54', '216', '56', '71',
       '46', '70', '34', '53', '9.40', '126', '10', '530', '35', '65',
       '57', '125', '30', '23', '80', '117', '49', '66', '8.20', '150',
       '?', '18', '165', '164', '24', '90', '77', '19', '58', '100',
       '213', '17', '235', '153', '13', '31', '109', '260', '43', '12',
       '11', '55', '6.50', '20', '7.50', '14', '60', '140', '33', '8.70',
       '0.25', '10.70', '82', '45', '42', '41', '160', '16', '89', '44',
       '176', '6.40', '183', '29', '37', '39', '7.90', '59', '68', '38',
       '47', '143', '6.60', '288', '96', '0.50', '1.20', '1.90', '0.09',
       '3.10', '0.40', '0.85', '0.30', '0.90', '1.50', '4.60', '0.20',
       '5.80', '4', '1.40', '2', '2.60', '2.90', '0.80', '4.90', '10.30',
       '2.30', '0.70', '0.60', '1.30', '2.50', '5.10', '1.70', '2.70',
       '22', '8.10', '3.30', '5', '3.20', '1.80', '1.10', '0.46', '1',
       '5.60', '4.40', '16.50', '2.10', '6.30', '5.50', '7.40', '5.90',
       '0.15', '14.90', '2.20', '9.70', '9.60', '1.60', '3.70', '3',
       '2.80', '0.10', '4.20', '27', '3.50', '0.05', '19.20', '8', '9.10',
       '3.60', '7.80', '3.80', '8.50', '9.20', '52', '2.40', '3.90',
       '0.03', '0.04', '26', '6.10', '0.65', '0.92', '7.60', '8.40',
       '14.40', '1.05', '0.37', '178', '6.90', '4.50', '4.70', '40', '6',
       '4.10', '14.30', '5.40', '8.30', '0.06', '8.80', '8.90', '7.10',
       '4.80', '0.43', '6.70', '200', '8.60', '86', '0.21', '9', '0.26',
       '3.40', '6.20', '17.40', '85', '1.83', '63', '13.30', '0.02',
       '0.42', '9.50', '0.84', '0.88', '4.30', '0.67', '0.81', '5.20',
       '9.80', '76', '0.62', '0.01', '11.40', '88', '0.68', '0.07',
       '0.69', '0.77', '9.90', '0.64', '13.20', '6.80', '0.28', '11.60',
       '0.91', '1.01', '0.23', '0.35', '50', '32', '0.83', '0.08'],
      dtype=object)

In [515]:
df["T3 Measured"].unique()

array(['y', 'n'], dtype=object)

In [516]:
rs={"y":1,"n":0}
df["T3 Measured"]=df["T3 Measured"].map(rs)

In [517]:
df["TT4 Measured"].unique()

array(['1.70', '0.20', '0.40', '1.20', '1.10', '1.30', '1.90', '?',
       '0.80', '2.20', '1.50', '2.70', '2', '0.30', '2.10', '0.60',
       '0.50', '0.70', '1', '1.40', '2.30', '2.40', '0.90', '1.80', '0',
       '2.80', '1.60', '6.70', '3.30', '3', '2.50', '2.60', '4', '9.80',
       '3.90', '3.40', '3.80', '4.50', '3.20', '3.70', '4.30', '2.90',
       '3.10', '3.50', '3.60', '6.60', '4.90', '8.90', '4.10', '5',
       '5.30', '7.60', '7.30', '4.20', '4.40', '5.10', '7', '0.10',
       '0.05', '4.70', '6.20', '5.50', '4.60', '6.10', '8.10', '5.20',
       '5.60', '4.80', '10.20', '8.60'], dtype=object)

In [518]:
df["FTI Measured"].unique()

array(['y', 'n'], dtype=object)

In [519]:
rs={"y":1,"n":0}
df["FTI Measured"]=df["FTI Measured"].map(rs)

In [520]:
df["TBG Measured"].unique()

array(['19', '4', '6', '57', '27', '54', '34', '39', '7.60', '53', '38',
       '98', '44', '37', '81', '13', '17', '12', '50', '23', '14', '3.90',
       '52', '32', '30', '84', '10', '55', '24', '28', '11', '6.60', '31',
       '33', '41', '9', '78', '42', '8.10', '65', '16', '9.70', '46',
       '22', '61', '2.30', '21', '7.50', '18', '66', '25', '43', '2', '3',
       '58', '59', '71', '74', '56', '40', '20', '48', '230', '70',
       '4.10', '63', '5.30', '2.90', '62', '75', '68', '15', '45', '47',
       '36', '80', '109', '8.60', '83', '82', '101', '76', '103', '112',
       '206', '110', '93', '79', '121', '?', '107', '88', '187', '254',
       '115', '113', '260', '117', '164', '97', '64', '129', '111', '106',
       '95', '87', '105', '90', '67', '134', '35', '193', '143', '130',
       '108', '86', '96', '92', '99', '216', '152', '125', '138', '194',
       '91', '120', '102', '170', '126', '116', '140', '94', '159', '85',
       '210', '89', '151', '247', '139', '153', '178', '123', '137',
       '161', '7.30', '72', '202', '122', '124', '157', '118', '104',
       '135', '186', '241', '131', '119', '100', '220', '176', '136',
       '183', '155', '208', '199', '154', '169', '128', '235', '195',
       '267', '232', '197', '212', '149', '127', '245', '132', '162',
       '77', '142', '69', '173', '141', '156', '181', '189', '60', '114',
       '198', '147', '191', '177', '174', '207', '168', '73', '160',
       '145', '200', '182', '158', '203', '209', '217', '430', '213',
       '218', '163', '296', '167', '148', '166', '185', '248', '172',
       '144', '150', '165', '196', '308', '146', '426', '224', '29',
       '204', '201', '133', '180', '184', '450', '244', '301', '255',
       '252', '396', '223', '261', '250', '179', '219', '190', '51',
       '221', '171', '242', '275', '211', '49', '239', '205', '222',
       '256', '214', '282', '287', '253', '269', '175', '228', '333',
       '258', '236', '225', '263', '283', '359', '188', '240'],
      dtype=object)

In [521]:
df["Goitre"].unique()

array(['y', 'n'], dtype=object)

In [522]:
rs={"y":1,"n":0}
df["Goitre"]=df["Goitre"].map(rs)

In [523]:
df.head()

,Hypothyroid,Age,Gender,Free T4,TSH,T3,TT4,FTI,TBG,Pregnant,...,Class,Education,Diagnosis Age,Referral Source 2,TSH Measured,T3 Measured,TT4 Measured,FTI Measured,TBG Measured,Goitre
0,1,15,0,1,0,0,0,0,0,0,...,0,0,0,1,145,1,1.70,1,19,1
1,1,24,1,0,0,0,0,0,0,0,...,0,0,0,1,0,1,0.20,1,4,1
2,1,24,0,0,0,0,0,0,0,0,...,0,0,0,1,430,1,0.40,1,6,1
3,1,77,1,0,0,0,0,0,0,0,...,0,0,0,1,7.30,1,1.20,1,57,1
4,1,85,0,0,0,0,0,1,0,0,...,0,0,0,1,138,1,1.10,1,27,1

In [524]:
df.dtypes

Hypothyroid           int64
Age                  object
Gender                int64
Free T4               int64
TSH                   int64
T3                    int64
TT4                   int64
FTI                   int64
TBG                   int64
Pregnant              int64
Referral Source       int64
Class                 int64
Education             int64
Diagnosis Age         int64
Referral Source 2     int64
TSH Measured         object
T3 Measured           int64
TT4 Measured         object
FTI Measured          int64
TBG Measured         object
Goitre                int64
dtype: object

In [525]:
import numpy as np

df["Age"] = df["Age"].replace('?',48.5)
df["TT4 Measured"] = df["TT4 Measured"].replace('?',3.5)
df["TSH Measured"] = df["TSH Measured"].replace('?',36.8)
df["TBG Measured"] = df["TBG Measured"].replace('?',133)

In [526]:
df.dtypes

Hypothyroid           int64
Age                  object
Gender                int64
Free T4               int64
TSH                   int64
T3                    int64
TT4                   int64
FTI                   int64
TBG                   int64
Pregnant              int64
Referral Source       int64
Class                 int64
Education             int64
Diagnosis Age         int64
Referral Source 2     int64
TSH Measured         object
T3 Measured           int64
TT4 Measured         object
FTI Measured          int64
TBG Measured         object
Goitre                int64
dtype: object

In [527]:
# Specify the columns to convert to integer
columns_to_convert = ['Age','TSH Measured','TT4 Measured','TBG Measured']

In [528]:
df["Age"]=df["Age"].astype(int)

In [529]:

df.dtypes

Hypothyroid           int64
Age                   int32
Gender                int64
Free T4               int64
TSH                   int64
T3                    int64
TT4                   int64
FTI                   int64
TBG                   int64
Pregnant              int64
Referral Source       int64
Class                 int64
Education             int64
Diagnosis Age         int64
Referral Source 2     int64
TSH Measured         object
T3 Measured           int64
TT4 Measured         object
FTI Measured          int64
TBG Measured         object
Goitre                int64
dtype: object

In [530]:
# Define the columns to be removed
columns_to_remove = ['TSH Measured','TT4 Measured','TBG Measured','Referral Source','Education','Class','Referral Source',"Diagnosis Age","Referral Source 2",]

# Drop the specified columns from the DataFrame
df = df.drop(columns_to_remove, axis=1)

In [531]:
df.head(5)

,Hypothyroid,Age,Gender,Free T4,TSH,T3,TT4,FTI,TBG,Pregnant,T3 Measured,FTI Measured,Goitre
0,1,15,0,1,0,0,0,0,0,0,1,1,1
1,1,24,1,0,0,0,0,0,0,0,1,1,1
2,1,24,0,0,0,0,0,0,0,0,1,1,1
3,1,77,1,0,0,0,0,0,0,0,1,1,1
4,1,85,0,0,0,0,0,1,0,0,1,1,1

In [533]:
df.to_csv("data_updated.csv")